<%= link_to 'Logout', logout_path, class: 'btn btn-link logout-link' %>
<h1>Your Public GitHub Account Information</h1><br>

<div class='avatar'>
  <%= image_tag @account[:avatar], class: 'avatar-picture' %><br>
  <h4>Your GitHub link:
    <%= link_to @account[:profile_link], @account[:profile_link] %></h4><br>
</div>

<div class='table-info'>
  <table class="table table-striped">
    <tbody>
      <% @account[:user].each do |key, value| %>
        <% if !value.blank? %>
          <tr>
            <td>
              <strong><%= key %>:</strong>
            </td>
            <td>
              <% if key.eql? 'created_at' %>
                <%= DateTime.parse(value).strftime("%m/%d/%Y") %>
              <%else%>
                <%= value %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  </table
</div>
