<%= link_to "Logout", logout_path %>
<h1>Your Public GitHub Account Information</h1><br>

<%= image_tag @account[:avatar] %><br>

<h4>Your GitHub link:
<%= link_to @account[:profile_link], @account[:profile_link] %></h4><br>
<table class="table table-striped">
  <tbody>
    <% @account[:user].each do |key, value| %>
      <% if !value.blank? %>
        <tr>
          <td>
          <%= key %> :
          </td>
          <td>
          <%= value %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
